.navbar {
    display: none;
    text-decoration: none;
}

:root {
    background-color: #F0E491;
}

.f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 20px; 
    right: 20px;
    max-height: 50px;
    min-width: 170px;
    background-color: #F0E491;
    border: 6px solid #31694E;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.container {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    margin-top: 50px;
    text-transform: uppercase;
}

.home-div {
    min-width: 70vw;
    min-height: 500px;
    background-color: #BBC863;
    padding: 20px;
    border-radius: 15px;
    margin: 0px;
}

.text-box {
    max-width: 60vw;
    max-height: 200px;
    text-align: center;
    margin: 0;
}

.title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
}

.p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #31694E;
    margin-top: 10px;
    margin-bottom: 10px;
}

.b {
    color: black;
}

.s {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.api-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
    min-width: 500px;
    background-color: #F0E491;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    text-transform: uppercase;
}

.input-name {
    min-height: 20px;
    max-width: 200px;
}

.btn {
    min-height: 50px;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: #BBC863;
    padding: 5px;
    border: solid 2px #31694E;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #658C58;
    transition: all 0.5s ease-in-out;
}